

/*Global styling*/
body {
  font-family: 'Calibri', sans-serif;
  background-color: f4f4f4;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #75799c;
  color: #E6DCE4;
  padding: 10px 0;
}